.vistaProducto{
    display: grid;
    width: auto;
    height:720px;
    grid-template-columns: 10% 40% 50%;
    grid-template-rows: 30% 15% 15% 30% ;
}

.mainImg{
    grid-area: 1/2/4/3;
    width: 90%;
    height: 60%;
    justify-content: center;
    margin: 1.5rem;
    border-radius: .5rem;
}

.informacionP{
    grid-area: 1/3/2/4;
    margin: 1rem 0 0 2rem;
    width: 100%;
    height: 100%;
}
.titulo{
    height: fit-content;
}
.infoRenta{
    grid-area: 2/3/3/4;
    display: flex;
    margin: 2rem 0 0 2rem;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
}
h5{
    width: 100%;
    font-size: x-large;
    font-weight: bolder;
}
.precio{
width: 50%;
}
.divisor{
    border-bottom: thin solid #5a595933;
    grid-area: 2/3/2/4;
    width: 90%;
    height: 0%;
    margin-left: 2rem;
    justify-self: center;
}
.infoEntrega{
    display: flex;
    grid-area: 3/3/4/4;
    height: 100%;
    margin: 2rem 0 0 2rem;
}
.infoEntrega div{
    width: 50%;
}
.btnRentar{
    grid-area:4/3/5/4;
    justify-self: center;
    height: 20%;
    width: 80%;
    align-self: center;
}
button{
    width: 100%;
    height: 100%;
    background-color: rgb(41, 108, 235);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
}

.imgPrevisuales{
    grid-area: 1/1/4/2;
    width: 90%;
    height: 60%;
    align-self: center;
    margin-bottom: 6.5rem;
}

.tiempoRenta{
    grid-area:4/3/5/4;
    justify-self: center;
    height: 40%;
    width: 90%;
    align-self: start;
}
.imgSecundaria{
    margin-bottom:1rem ;
    height: 25%;
    width: 80%;
   border: rgb(29, 96, 197) solid 1px;
   border-radius: .5rem;
}
.infoArrendador{
    grid-area:3/2/4/3;
    margin-left: 1.5rem;
}

input[type=radio]{
    margin: .5rem;
}
input[type=number]{
    border-radius: 5px;
    width: 10%;
    border-width: 1px;
    margin-right: .5rem;
}